@charset "uft-8";

.container {
    width: 1141px;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 160px;
}

#header_top {
    width: 100%;
    height: 40px;
    background-color: #eee;
}

#header_top .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logo {
    width: 126px;
    height: 36px;
}

#logo img {
    width: 100%;
}

#login {
    font-size: 12px;

    li {
        float: left;
        padding: 0 15px;
    }

    li::after {
        content: "|";
        float: right;
        margin-right: -15px;
    }

    li:last-child::after {
        content: "";
    }
}

#header_main {
    width: 1140px;
    height: 70px;
    margin: 0 auto;
    display: flex;
}

#header_main .container {
    display: flex;
    align-items: center;
}

#header_main select {
    width: 79px;
    height: 36px;
    margin-left: 10px;
}

nav {
    width: 100%;
    height: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

nav.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul {
    width: 700px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
}

#login {
    width: 370px;
    height: 40px;
    float: right;
    display: flex;
}

#login ul li {
    margin: 0 auto;
    margin-top: 10px;
}

/* main */
main {
    width: 1141px;
    height: 2200px;
    margin: 0 auto;
    display: flex;
}

aside {
    width: 210px;
    height: 100%;
}

aside ul {
    border: 1px solid #ddd;
    margin-top: 40px;
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
}

aside ul li:nth-of-type(1) {
    height: 90px;
    background-image: linear-gradient(108.14deg, #1060ED -7.91%, #5A90F0 98.51%);
    color: white;
    font-size: large;
    padding-top: 30px;
}

aside ul li {
    padding: 15px;
}

#main_content {
    width: calc(100% - 300px);
    height: 100%;
}

#slider {
    width: 100%;
    height: 390px;
    margin-top: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    /* background-color: green; */
}

#slider .swiper-slide {
    flex-direction: column;
    justify-content: flex-start;
}

#slider .swiper-slide img {
    width: 200px;
    height: 280px;
    display: flex;
}

#slider_txt {
    width: 270px;
    height: 100%;
    position: relative;
}

#slider .swiper-pagination {
    text-align: right;
    padding-right: 20%;
}

#slider_txt p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

/* 큰 글씨 */
#slider_txt .big {
    font-size: 28px;
    font-weight: 800;
    color: #222;
    line-height: 1.3;
}

#slider_txt .bbig {
    font-size: 28px;
    font-weight: 800;
    color: #222;
    line-height: 1.3;
    margin-top: 8px;
}

/* 작은 글씨 */
#slider_txt .small {
    font-size: 14px;
    color: #888;
    margin-top: 8px;
}

/* Pick 강조 */
#slider_txt .highlight {
    color: #1a73e8; 
    font-weight: 800;
}

/* swiper css */
#slider .swiper {
    width: calc(100% - 270px);
    height: 100%;
}

#new .swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #444; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slider .swiper-button-next {
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 100px;
    right: auto;
    top: auto;
    bottom: 100px;
    color: #888;
}

#slider .swiper-button-prev {
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 30px;
    top: auto;
    bottom: 100px;
    color: #888;
}

#slider_txt .swiper-navigation-icon {
    width: 50%;
    height: 50%;
}

/* 불렛(이미지) 기본 스타일 */
#slider .swiper-pagination-bullet {
    width: 50px;
    /* 이미지 크기에 맞게 조절 */
    height: 70px;
    border-radius: 0;
    /* 동그라미 해제 */
    background: none;
    /* 기본 배경색 제거 */
    opacity: 0.5;
    /* 비활성 상태 투명도 */
}

/* 활성화된 슬라이드의 불렛(이미지) 스타일 */
#slider .swiper-pagination-bullet-active {
    opacity: 1;
    border: 2px solid blue;
    /* 강조 효과 */
}

/* search */
#search {
    width: 100%;
    height: 95px;
    background-color: #eee;
    margin-top: 55px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search span {
    margin-right: 10px;
    font-size: large;
}

#search .search-container {
    width: 270px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search .search-container input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
}

/* best */
#best {
    width: 100%;
    height: 915px;
    position: relative;
}

#best h3 {
    margin-top: 30px;
}

#best .bestbox {
    width: 100%;
    height: 420px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    margin-top: 40px;
}

#best .box {
    width: 19%;
}

#best .box p {
    font-size: 11px;
    color: #666;
    text-align: left;
}

#booktab {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 10px;
}

#booktab li {
    float: left;
    text-align: center;
    cursor: pointer;
    padding: 5px 5px;
    font-size: small;
}

/* banner */
#banner {
    width: 100%;
    height: 165px;
}

#banner img {
    width: 100%;
    height: 165px;
}

/* new */
#new {
    width: 100%;
    height: 520px;
}

#new .swiper-slide {
    flex-direction: column;
    justify-content: flex-start;
}

#new .swiper-slide img {
    width: 100%;
    height: auto;
}

/* footer */
footer {
    width: 100%;
    height: 180px;
    border-top: 1px solid #ddd;
}

#footer_top {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer_top ul {
    width: 50%;
    font-size: 12px;
}

#footer_top ul li {
    float: left;
    padding: 0 15px;
}

#footer_top ul li::after {
    content: "|";
    float: right;
    margin-right: -15px;
}

#footer_top ul li:last-child::after {
    content: "";
}

#footer_top select {
    width: 228px;
    height: 44px;
}

#footer_bottom {
    font-size: 12px;

    li {
        float: left;
        padding: 0 15px;
    }

    li::after {
        content: "|";
        float: right;
        margin-right: -15px;
    }

    li:last-child::after {
        content: "";
    }
}

#footer_bot {
    font-size: 12px;

    li {
        float: left;
        padding: 0 15px;
    }

    li::after {
        content: "|";
        float: right;
        margin-right: -15px;
    }

    li:last-child::after {
        content: "";
    }
}